services:
  api:
    container_name: api_echo
    build:
      context: .
      dockerfile: ./docker/server/Dockerfile
      target: dev
    ports:
      - 8000:8000
    volumes:
      - ./api-echo/:/usr/src/app
    command: >
      bash -c 'go mod tidy && air'
    env_file:
      - ./api-echo/.env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  db:
    image: mysql:8.0.32
    container_name: mysql_filmogophery
    ports:
      - 3306:3306
    volumes:
      - mysql-volumes:/var/lib/mysql
      - ./docker/mysql/entrypoint/:/docker-entrypoint-initdb.d
    environment:
      MYSQL_USER: "user"
      MYSQL_PASSWORD: "password"
      MYSQL_ROOT_PASSWORD: "password"
      MYSQL_DATABASE: "db4dev"
    command:
      - "mysqld"
      - "--default-authentication-plugin=mysql_native_password"
      - "--character-set-server=utf8mb4"
      - "--character-set-client-handshake=FALSE"
      - "--collation-server=utf8mb4_unicode_ci"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping"]
      interval: 10s
      retries: 10

  redis:
    image: redis:8-alpine
    container_name: redis_filmogophery
    ports:
      - 6379:6379
    volumes:
      - redis-volumes:/data

volumes:
  mysql-volumes:
  redis-volumes:
